# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/

# Excel çıktıları
*.xlsx

# IDE
.vscode/
.idea/

# Database
*.db

# Temp & JSON export
temp_*.json
mebbis_verileri_*.json

# OS
Thumbs.db
.DS_Store
